:host {
}

li {
  padding: .5rem 1rem;
  background-color: var(--custom-dropdown-background-color, #F5F5F7);

  cursor: pointer;
  transition: all 150ms ease-in;
  position: relative;
  font-family: Helvetica, sans-serif;

  color: var(--custom-dropdown-font-color, #767676);
}

li:hover {
  background-color: var(--custom-option-background-color-hover, #E5E5EA);
}

li:focus {
  background-color: var(--custom-option-background-color-focus, #D1D1D6);
}
