:host {
  font-family: Helvetica, sans-serif;
  display: block;
  max-width: 24rem;
}

form {
  position: relative;
}

label {
  display: block;
  margin-bottom: .4rem;
}

.search {
  padding: .4rem .8rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
}

.search-wrapper {
  position: relative;
  background: none;
  border: none;
  width: 100%;
}

.search-wrapper::before {
  content: '▼';
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}

.options {
  position: absolute;
  left: 0;
  right: 0;
  overflow-y: auto;
  list-style-type: none;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: all 150ms ease-in;
  pointer-events: none;
  z-index: 2;

  padding: 0;
  margin: 0;
}

.options.active {
  opacity: 1;
  transform: scale(1, 1);
  pointer-events: auto;
}


