:host {
  font-family: Helvetica, sans-serif;
  display: block;
  max-width: 24rem;
  color: var(--custom-dropdown-font-color, #767676);
  font-weight: var(--custom-dropdown-font-weight, 700);
}

form {
  position: relative;
}

label {
  display: block;
  margin-bottom: .5rem;
}

.search {
  padding: .5rem 1rem;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: var(--custom-dropdown-background-color, #F5F5F7);
  color: var(--custom-dropdown-font-color, #767676);
  font-weight: var(--custom-dropdown-font-weight, 700);
  border: none;
}

.search-wrapper {
  position: relative;
  background: none;
  border: none;
  width: 100%;
  background-color: var(--custom-dropdown-background-color, #F5F5F7);
}

.search-wrapper::before {
  content: '▼';
  position: absolute;
  right: .8rem;
  top: 50%;
  transform: translateY(-50%);
}

.options {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  list-style-type: none;
  transform: scale(1, 0);
  transform-origin: top left;
  transition: all 150ms ease-in;
  pointer-events: none;
  z-index: 2;
}

.options.active {
  opacity: 1;
  transform: scale(1, 1);
  pointer-events: auto;
}
